.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    height: 50px;
    flex-shrink: 0;
    background-color: #037cf5;
  }
  
  footer {
    height: 50px;
    flex-shrink: 0;
    background-color: #134c7d;
  }
  