nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  box-shadow: 0 5px 50px 0px rgba(0, 0, 128, 0.3);
}

nav a {
  color: navy;
  background-color: #26d0ce;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
}

nav:hover a {
  filter: blur(3px);
  opacity: 0.5;
  outline: 1px solid #26d0ce;
}

nav a:hover {
  filter: blur(0px);
  opacity: 1;
  outline: 1px solid navy;
}
