* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background-color: navy;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.navbar-logo {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    box-shadow: 0 5px 50px 0px rgba(0, 0, 128, 0.3);
}

nav a {
    color: navy;
    background-color: #26d0ce;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.2s;
    font-weight: bold;
}

nav:hover a {
    filter: blur(3px);
    opacity: 0.5;
    outline: 1px solid #26d0ce;
}

nav a:hover {
    filter: blur(0px);
    opacity: 1;
    outline: 1px solid navy;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-box h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.text-box p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    margin-top: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    
    img {
        margin-bottom: 0;
    }
}
