h1{
   font-family: "Helvetica";
   font-weight: bold;
   font-style: normal;
}

p{
   font-family: "Helvetica";
   font-weight: bold;
   font-style: normal;
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Helvetica;
}

body{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background: navy;
}

.wrapper{
   margin: 150px auto;
   width: 70%;
}

img{
   max-width: 405px;
   float: left;
   margin-right: 15px;
   
}

.text-box{
   color: #fff;
}

.text-box h1{
   font-size: 36px;
}

.text-box p{
   font-size: 16px;
}

.text-box li{
   font-size: 16px;
   list-style: none;
   margin-right: 15px;
}